<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Username:
      <input type="text" formControlName="username" />
    </label>
  </div>
  <div formGroupName="credentials">
    <div>
      <label>
        Email:
        <input type="text" formControlName="useremail" />
      </label>
    </div>
    <div>
      <label>
        Password:
        <input type="password" formControlName="userpassword" />
      </label>
    </div>
  </div>
  <div>
    <label>
      Address:
      <input type="text" formControlName="userstreet" />
    </label>
  </div>
  <div>
    <label>
      Postal code:
      <input type="number" formControlName="userpostalcode" />
    </label>
  </div>
  <div>
    <label>
      City:
      <input type="text" formControlName="usercity" />
    </label>
  </div>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
<!-- <div *ngIf="user.name != ''">
  <h2>{{ user.name }}</h2>
  <p>{{ user.email }}</p>
  <p>{{ user.address.street }}</p>
  <p>{{ user.address.postalCode }}, {{ user.address.city }}</p>
</div> -->
