<div>
  <label>
    Username:
    <input type="text" [formControl]="username" />
  </label>
</div>
<div>
  <label>
    Email:
    <input type="text" [formControl]="useremail" />
  </label>
</div>
<div>
  <label>
    Password:
    <input type="password" [formControl]="userpassword" />
  </label>
</div>
<div>
  <label>
    Address:
    <input type="text" [formControl]="userstreet" />
  </label>
</div>
<div>
  <label>
    Postal code:
    <input type="number" [formControl]="userpostalcode" />
  </label>
</div>
<div>
  <label>
    City:
    <input type="text" [formControl]="usercity" />
  </label>
</div>
<button (click)="createUser()">Inscription</button>
<div *ngIf="user.name != ''">
  <h2>{{ user.name }}</h2>
  <p>{{ user.email }}</p>
  <p>{{ user.address }}</p>
  <p>{{ user.postalCode }}, {{ user.city }}</p>
</div>
